.app{
    color: rgb(79, 106, 106);
    text-align: center;
    font-family: arial;
}

body{
    background-color: rgb(240, 240, 240);
}

.wrapper{
    position: relative;
    width: 200px;
    height: 380px;
    color: white;   
    text-align: center;
}

.bottomContainer{
    background: white;
    width: 200px;
    height: 120px;
    color: rgb(79, 106, 106);
}

.textWrapper{
    margin-bottom: 190px;
}

.cardContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#first{
    background-color: teal;
}

#second{
    background-color: goldenrod;
}

#third{
    background-color: orange;
}

#fourth{
    background-color: salmon;
}

#fifth{
    background-color: lightgreen;
}

.refreshButton {
	box-shadow: -3px 4px 6px -1px #b0b0b0;
	background:linear-gradient(to bottom, rgb(92, 101, 101) 5%, #6f6f6f 100%);
	background-color:rgb(79, 106, 106);
	border-radius:12px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
    font-size:15px;
    width: 85px;
    height: 40px;
    margin-top: 5px;
	text-decoration:none;
	text-shadow:0px 0px 0px #283966;
}
.refreshButton:hover {
	background:linear-gradient(to bottom, #989898 5%, #8c8c8c 100%);
	background-color:#c9c9c9;
}
.refreshButton:active {
	position:relative;
	top:1px;
}